@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prompt:wght@400;500;900&display=swap');

.shop {
    display: grid;
    grid-template-columns: 1fr .7fr 1fr;
    grid-template-rows: 1fr;
    @include fullViewport;
    background-color: black;
    @include bgImage(url(../../assets/kurenai-gran-logo-nomana.png));
    position: relative;

    &__container-left {
        @include flexCenter;
        @include fullContainer;
        grid-column: 1/2;
        grid-row: 1/2;

        &-box {
            @include flexCenter;
            width: 90%;
            height: 80%;
        }
    }

    &__container-right {
        display: flex;
        flex-direction: column;
        @include fullContainer;
        grid-column: 3/4;
        grid-row: 1/2;

        &-box {
            @include flexCenter;
            width: 100%;
            height: 100%;

            i {
                color: white;
                font-size: 5rem;
                margin-right: 3rem;
            }

            h1 {
                font-size: 5rem;
                font-family: 'Monserrat';
                color: white;
            }
        }
    }

    &-bg-blue{
        position: absolute;
        content: '';
        @include fullViewport;
        @include bgImage(url(../../assets/rock-blue.png));
        filter: drop-shadow( 0rem 0rem 1rem #1f53be);
        animation: efectoBlurStoneBlue 2.5s cubic-bezier(.71,.14,.5,.94) infinite;
    }
}