@import '../../styles/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Prompt:wght@400;500;900&display=swap');

.future-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 18rem;
    background-color: $primary;
    display: flex;
    justify-content: center;
    background-color: transparent;

    &__menu {
        display: flex;
        justify-content: center;
        width: 30%;
        height: 100%;
        background-color: transparent;

        &-element-01 {
            cursor: pointer;
            width: 33%;
            height: 100%;
            @include bgImage(url(../../assets/rock-red-menu.png));
            transition: filter .5s ease-in-out;

            &:hover {
                filter: drop-shadow(1px 1px 15px crimson);
            }
        }

        &-element-02 {
            cursor: pointer;
            width: 33%;
            height: 100%;
            @include bgImage(url(../../assets/rock-green-menu.png));
            transition: filter .5s ease-in-out;

            &:hover {
                filter: drop-shadow(1px 1px 15px #22680e);
            }
        }

        &-element-03 {
            cursor: pointer;
            width: 33%;
            height: 100%;
            @include bgImage(url(../../assets/rock-blue-menu.png));
            transition: filter .5s ease-in-out;

            &:hover {
                filter: drop-shadow(1px 1px 15px #1f53be);
            }
        }
    }
}